<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <div class="navbar">
            <a href="/"><h1>75YALYıllık</h1></a>
            <form action="/search" method="get" class="mezun-search">
                <input type="text" name="q" placeholder="Mezun adı veya numarası" required>
                <button type="submit">Ara</button>
            </form>
            <nav>
                <ul>
                    <li><a href="/">Ana Sayfa</a></li>
                    <li><a href="/hakkinda">Hakkında</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="breadcrumb">
        <a href="/">Ana Sayfa</a>
        <span>></span>
        <span>Hakkında</span>
        
    </div>

    <main>
        <div>
            <div class="contentbox">
                <h1>75YAL Mezunları Hakkında</h1>
                <h3>Bu projeye okul yönetimimiz tarafından izin verilmiştir!</h3>
                <p>Bu dijital mezuniyet yıllığı, 75YAL mezunlarının anılarını ve birbirleri hakkındaki düşüncelerini ücretsiz bir şekilde gelecek nesillere aktarmak amacıyla oluşturulmuştur.</p>
                <p>Yıllığımızda mezuniyet yıllarına göre sınıflandırılmış sınıfları ve öğrencileri bulabilirsiniz. Her öğrenci sayfasında, arkadaşlarının o kişi hakkında yazdığı düşünceler ve anılar yer almaktadır.</p>
                <p>Bu dijital yıllık, 75YAL mezunlarının zaman içinde genişleyecek ve yeni mezunlarıyla büyüyecek bir arşiv niteliğindedir. Gelecek yıllarda da mezunlarımızın anılarını ve dostluklarını ölümsüzleştirmeye devam edeceğiz...</p>
                <p>Mezunlar ile sosyal medya bağlantıları ile kolay bir şekilde bağlantı kurabilirsiniz.</p>
                
                <h2>Nasıl Katkıda Bulunabilirsiniz?</h2>
                <p>Eğer siz de 75YAL mezunlarından iseniz ve yıllığımıza katkıda bulunmak isterseniz, eski sınıf arkadaşlarınız hakkında düşüncelerinizi ve anılarınızı bizimle instagram <a href="https://instagram.com/yillik75yal" target="_blank">(@yillik75yal)</a> üzerinden yazarak paylaşabilirsiniz. Bize ulaşarak, yıllığımızın genişlemesine yardımcı olabilirsiniz.</p>
                <p>*Yorum eklemek için bize instagram adresimizden <a href="https://instagram.com/yillik75yal" target="_blank">(@yillik75yal)</a> yazabilirsiniz. Bunun nedeni gerçekten siz olduğunuzu doğrulamak.<br>(Belirli işlemler için sizden ücret istenebilir)</p>
                <p>**Yorum kaldırmak için bize instagram adresimizden <a href="https://instagram.com/yillik75yal" target="_blank">(@yillik75yal)</a> yazabilirsiniz. Yorum geçerli bir sebep sunulmadığı sürece kaldırılmaz.<br>(Belirli işlemler için sizden ücret istenebilir)</p>


                <h2>Emeği Geçenler ve Teşekkürler</h2>
                <p>Fikir, Tasarım ve Kodlama: Enes Saraçoğlu</p>
                <p>Fikir ve İlk Testler: Ekrem Alıcı</p>
                <p>Projeye izin verdiği için teşekkürler: Benson Köken</p>

                <h2>Projeye Dair</h2>
                <p>Projenin Açık Kaynağı: <a href="https://github.com/Runteryaa/75yal" target="_blank">GitHub</a></p>
                <p>Projenin Parçası Olan Instagram Hesabı: <a href="https://instagram.com/yillik75yal" target="_blank">Instagram</a></p>
                <p>Hosting: <a href="https://render.com" target="_blank">Render</a></p>
            </div>
        </div>
    </main>
    <dialog id="first-visit">
        <p>Yıllığımızı ilk ziyaret edişiniz, hoşgeldiniz!</p>
        <p>Öncelikle bu projeye okulumuz tarafından izin verilmiştir. </p>
        <p>Bu internet sitesi, 75YAL mezunlarının anılarını ve fotoğraflarını ücretsiz bir şekilde paylaşması için tasarlanmıştır. Ayrıca, mezunlar ile sosyal medya bağlantıları ile kolay bir şekilde bağlantı kurabilirsiniz.</p>
 
        <p>Lütfen daha fazla bilgi için <a href="/hakkinda">/Hakkında</a> sayfasını göz atın edin.</p>
        <button onclick="closeFirstVisit()">Kapat</button>
    </dialog>
    <script src="/script.js"></script>
</body>
</html>